<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}">データベース表示・検索</title>
	<style>
		body { padding: 10px; color: #666; }
		th { padding: 10px;0px; background: #666; color: red; }
		td { padding: 10px;0px; background: #ddd; color: #333; }
		.center { text-align: center;}
	</style>
</head>
<body>
<div class="center">
	<h1 th:text="${title}"></h1>
	<h2 th:inlietext="text">こんにちは、[[${#httpServletRequest.remoteUser}]]さん</h2>
	<form action="/sqlview" method="post">
		<input type="text" name="find" th:value="${value}" />
		<input type="submit" value="検索" />
	</form>
	<table>
		<tr>
			<th>NumId</th><th>SyohinNum</th><th>SyohinName</th>
			<th>EditDate</th><th>EditTime</th><th>Note</th>
		</tr>
		<tr th:each="entity : ${data}">
			<td th:text="${entity.NumId}"></td>
			<td th:text="${entity.SyohinCode}"></td>
			<td th:text="${entity.SyohinName}"></td>
			<td th:text="${entity.EditDate}"></td>
			<td th:text="${entity.EditTime}"></td>
			<td th:text="${entity.Note}"></td>
		</tr>
	</table>
	<form th:action="@{/logout}" method="post">
		<div><input type="submit" value="ログアウト" /></div>
	</form>
</div>
</body>
</html>